*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/DomJava/dist/
/DomJava/build/
/XML&CSS/nbproject/private/
/XML&CSS/build/
/XML&CSS/dist/
/XSLT/nbproject/private/
/XSLT/dist/
/XSLT/build/
/XML&Ajax/nbproject/private/
/XML&Ajax/dist/
/XML&Ajax/build/
/Xpath&JS/nbproject/private/
/Xpath&JS/dist/
/Xpath&JS/build/
/XSL&Ajax/nbproject/private/
/XSLProcessor/nbproject/private/
/XSLProcessor/dist/
/XSLProcessor/build/
/AvaliacaoWeb3/nbproject/private/
/q1_ biblioteca/nbproject/private/
/q2_cd_catalog/nbproject/private/
/XSL&Ajax/dist/
/XSL&Ajax/build/
/q1_ biblioteca/build/
/ElectionsEnterpriseJson/nbproject/private/
/XSLTJava/build/
/XSLTJava/dist/
/q3_xslt/nbproject/private/
/ElectionsEnterpriseJson/build/
/ElectionsEnterpriseJson/dist/
/q1_library/nbproject/private/
/q1_library/dist/
/q1_library/build/
/JSF/jsf-objetos/nbproject/private/
/JSF/jsf-objetos/build/
/JSF/jsf-objetos/dist/
/JSF/primeiro-projeto/nbproject/private/
/JSF/jsf-objetos-mvn/target/
/JSF/jsf-objetos/target/
/JSF/objetos-maven/objetos-maven/target/
/JSF/mf_test/target/
/JSF/objetos-maven/minhas_financas/target/
/JSF/myJSF/target/
/JSF/jsf_ajax/jsf_ajax/target/